img{
    height: 5vw;
    padding: 1vw 0vw;
    margin-left: 0px 20px;
}
.Header__main{
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    
}

.Header__nav ul {

      display: flex;
      min-width: 100%;
      justify-content: flex-end;
      margin-right: 20px;
      
}
.Header__nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 20px;
}
.Header__desc{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-left: 1rem;
}
button{
    padding: 5px;
    background-color: rgb(74, 151, 74);
}
