.ForgetPassword{
        justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    /* background-color: rgb(137, 137, 150); */
    background-image: url('../../BGimage.jpg');
    max-width: fit-content;
    height:max-content;
    margin: 10rem auto;
}

input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    width: 20rem;                       
    max-width: 100%;
    border-radius: 10px;
    margin:10px;
    
}
.ForgetPassword__submit{
    color: black;
    margin: 0 1rem 0.5rem 1rem;
    border-radius: 6px;
    background-color: #ae372e;
    padding:10px;
}
.ForgetPassword__button{
    text-align: center;
    max-width: 100%;
    
}
.ForgetPassword__desc{
    color: white;
    text-align: center;
    margin:20px 0;
}
#SignIn{
    padding: 0;
    color: rgb(28, 28, 92);
    background-color: rgba(128, 128, 128, 0.397);
}
