
.ForgetPassword_container{
    display: flex;
    /* width: fit-content; */
    justify-content: center;
    /* border:2px solid black; */
    max-width: 100%;
    /* box-shadow: 10; */
    /* transform:translate(20px,30px); */
    /* box-sizing: border-box; */
}
.ForgetPassword{
    /* box-shadow: 1.5px 0.5px 1px 3px rgb(209, 205, 205) inset; */
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    /* transform: translate(40%,30%); */
    padding: 10px;
    /* border: 0.05px solid  black; */
    border-radius: 10px;
}
.ForgetPassword_header{
    text-align: left;
    letter-spacing: normal;
    padding: 0;
    
}
.designation{
    padding: 5px;
    border-radius: 15px;
    margin:  2vh 0vh;
    width: 100%;
    /* border-color:  black; */
}
#desc{
    width: 100%;
}
.a{
   text-decoration: none; 
   color: #174dc2;
}