*{
    box-sizing: border-box;
    box-shadow:aqua;
}
.signup_container{
    display: flex;
    /* width: fit-content; */
    justify-content: center;
    /* border:2px solid black; */
    max-width: 100%;
    /* box-shadow: 10; */
    
    /* box-sizing: border-box; */
}
.signup{
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    padding: 10px;
    /* transform:translate(40px,20px); */
    border-radius: 10px;
}
.signup_header{
    text-align: center;
    letter-spacing: normal;
    padding: 0;
    
}
.designation{
    padding: 5px;
    border-radius: 15px;
    margin:  2vh 0vh;
    width: 100%;
    /* border-color:  black; */
}
#desc{
    width: 100%;
}