*{
    margin: 0;
    padding: 0;
}
.SignUp__main{
    border: 2px solid black;
    border-radius: 30px;
    /* background-color: rgb(137, 137, 150); */
    background-image: url('../../BGimage.jpg');
    max-width: 60%;
    height:max-content;
    margin: 10rem auto;
}
.SignUp__details{
    text-align: center;
    text-decoration:solid;


}
.SignUp__form{
    display: flex;
    margin-left: 20px;
    text-align: left;
    justify-content: center;
}
.SignUp__form label{
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    display: block;
    text-align: left;
}

.SignUp__form input,select{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    /* width: 20rem;                        */
    max-width: 100%;
    margin-bottom: 0.5rem;
    margin-right: 20px;
    border-radius: 10px;
}
.SignUp__button{
    color: green;
    margin: 0 0 0.5rem 12rem;
    border-radius: 6px;
}
.SignUp__signIn{
    color: white;
    display: flex;
    justify-content: center;
    
}
.SignUp__signIn button{
    color: green;
    border-radius: 6px;
}