*{
    margin: 0;
    padding: 0;
}
.Header__main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(128, 17, 17);
}
.Header__logo img{
     height: 45px;
     padding-left: 30px;
}
.Header__value {
    align-self: center;
}
.Header__value ul{
    display: flex;
    /* justify-content: center; */
    gap:50rem;
    margin-left: 200px;
    list-style: none;
    font-size: larger;
    align-content: center;
}
.Header__value ul li a{
    color: black;
    text-decoration: none;
}
.Header__value ul li a:hover{
   font-style:italic;
   color: rgb(206, 187, 81);
}