body {
  margin: 0;
  background-image: url('BGimage.jpg');
  /* background-color: w; */
  position: fixed;
  padding: 2px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
